#workspaces {

    background: @bg;

    border-radius: 14px;

    border: 1px solid @border;

    margin: 2px 3px;

    padding: 1px;
}

#workspaces button {

    min-width: 8px;
    min-height: 8px;

    margin: 1px;

    padding: 0 5px;

    border-radius: 999px;

    background: rgba(255,255,255,0.08);
}

#workspaces button.active {

    min-width: 28px;

    background: @blue;

    color: @bg;
}
#workspaces button:hover {

    background: @purple;
}

#workspaces button.urgent {

    background: @red;
}